* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fffaf5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 182px;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
    text-align: center;
    padding: 19px 16px;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.btn:hover {
    opacity: 0.7;
}

.section-heading {
    color: #000958;
    font-family: Sora;
}

.section-heading.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.section-heading.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.section-heading.lv3 {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

/* Navbar */
.navbar {
    padding: 8px 0;
    position: sticky;
    top: -18px;
    z-index: 99;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.navbar__list {
    display: flex;
    column-gap: 20px;
}

.navbar__link,
.navbar-cta__signin {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    padding: 8px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 #000;
}

.navbar-cta__signin {
    margin-right: 8px;
}

.navbar-cta .btn {
    min-width: 117px;
    border-color: #000958;
    padding: 16px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

/* Hero */
.hero {
    padding-top: 92px;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img-thumb {
    align-self: flex-end;
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__img-decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin-left: -23px;
    margin-bottom: -58px;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero__item {
    display: flex;
}

.hero__item-thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__item:last-of-type .hero__item-thumb {
    background-color: #c6e2fa;
}

.hero__item-info {
    margin-left: 10px;
}

.hero__item-title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__item-skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__item-skeleton:nth-of-type(2) {
    width: 39px;
}

.hero__item-separate {
    margin: 20px 0;
    width: 222px;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
}

.hero__info {
    margin-left: 120px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__info-cta {
    margin-top: 38px;
}

.hero__info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 189px;
    padding: 21px 16px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    font-weight: 600;
}

.hero-btn__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.hero__schedule {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 77px;
    padding-top: 53px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 95px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
}

.about-checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}

.about-checklist__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.about-checklist__item-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-checklist__item-info {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrapper {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrapper::after {
    position: absolute;
    height: 336px;
    z-index: -1;
    content: "";
    inset: auto 0 0 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__img-wrapper--bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img--bottom {
    width: 100%;
}

.about__img-wrapper--bottom.about__img-wrapper::after {
    content: none;
}

.about__media-decor--bottom {
    position: absolute;
}

.about__media-decor--bottom:first-child {
    top: 12.5px;
    right: 63px;
}

.about__media-decor--bottom:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__media-decor--bottom:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__media-decor--bottom:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__media-decor--bottom:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__media-decor--bottom:nth-child(6) {
    bottom: -39px;
    right: -23px;
}

.about__media-decor--bottom:nth-child(7) {
    bottom: -47px;
    right: -32.6px;
}

.about__media-decor--bottom:nth-child(8) {
    bottom: -54.58px;
    right: -42px;
}

.about__desc--bottom {
    margin-top: 24px;
    width: 511px;
}

.about__tab {
    margin-top: 52px;
}

.about__tab-list {
    position: relative;
    display: flex;
    column-gap: 56px;
}

.about__tab-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;
    cursor: pointer;
}

.about__tab-list::after,
.about__tab-item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 557px;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}

.about__tab-item--active::after {
    width: 95px;
    opacity: 1;
}

.tab-item__icon {
    width: 20px;
}

.about-tab__contents {
    margin-top: 36px;
}

.about-tab__content {
    display: none;
}

.about-tab__content--active {
    display: block;
}

.about-tab__desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.714; /* 171.429% */
}

.about-tab__more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about-tab__more::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 99px;
}

/* Service */

.service {
    margin-top: 185px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service-top {
    text-align: center;
}

.service__question,
.staff__label {
    margin-bottom: 15px;
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-item__heading::before {
    position: absolute;
    display: inline-block;
    content: "";
    inset: 0 auto 0 0;
    width: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}

.service-item__desc {
    margin: 18px 0 24px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.714; /* 171.429% */
}

.service-item__more {
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service-item__more::after {
    content: url(../icon/arrow-up-right.svg);
    margin-top: 2px;
}

.service__media {
    position: relative;
    margin-top: 17px;
}

.service__media::after {
    position: absolute;
    inset: auto 15px 0 22px;
    content: "";
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
}

.service__btn {
    margin-top: 45px;
    min-width: 214px;
}

/* Staff */

.staff {
    margin-top: 130px;
}

.staff-top {
    text-align: center;
}

.staff-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-list {
    margin-top: 59px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrapper {
    position: relative;
    border-radius: 129.5px;
    margin: 0 16px;
}

.staff-item__img-wrapper::before {
    content: "";
    position: absolute;
    display: inline-block;
    inset: auto 0 0 0;
    height: 93.23%;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-image: url(../icon/staff-decor-01.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(even) .staff-item__img-wrapper::after {
    background-position: 0 16px;
}

.staff-item:nth-child(2) .staff-item__img-wrapper::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrapper::after {
    background-image: url(../icon/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrapper::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrapper::after {
    background-image: url(../icon/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrapper::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrapper::after {
    background-image: url(../icon/staff-decor-04.svg);
}

.staff-item__img {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    display: block;
}

.staff-item__info {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__cta {
    display: flex;
    justify-content: center;
}

.staff__btn {
    margin-top: 48px;
    min-width: 193px;
}

/* Pricing */

.pricing {
    background-color: #fff6ed;
    margin-top: 130px;
    padding: 86px 0;
}

.pricing-container {
    width: 994px;
}

.pricing-top {
    text-align: center;
}

.pricing__desc {
    margin-top: 24px;
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e99;
    user-select: none;
}

.pricing__switch-label::before {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 145px;
    height: 100%;
    border-radius: 31px;
    background: #ff5b2e;
}

.pricing__switch-button:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.pricing__switch-button:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: #ff5b2e;
}

.pricing__switch-button:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2) {
    color: #ff5b2e;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.pricing-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item--highlight {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item--highlight .pricing__button {
    color: #fff;
    background-color: #ff5b2e;
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__title {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing__button {
    margin-top: 22px;
    width: 100%;
    padding: 13px 16px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: transparent;
}

.pricing-item__properties {
    margin-top: 24px;
}

.pricing-item__property {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__property::before {
    content: url(../icon/price-check.svg);
    margin-right: 15px;
}

.pricing-item__property:nth-child(5)::before,
.pricing-item__property:nth-child(6)::before,
.pricing-item__property:nth-child(7)::before {
    opacity: 0.4;
}
